.content_home_referee_container {
  width: 98.6%;
  padding: 7px;
  height: 96.6%;
  border-radius: 7px 7px 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf3fb;
}
.content_home_referee_layout {
  border-radius: 7px 7px 30px 30px;
  height: 99%;
  width: 99.5%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b4c5d3;
}
.content_referee_layout_view {
  border-radius: 7px 7px 30px 30px;
  padding: 10px;
  width: 100%;
  max-height: 95.5%;
  overflow-y: scroll;
  height: 95.5%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}
.content_referee_layout_view::-webkit-scrollbar {
  display: none;
}
.content_referee_layout_view {
  scrollbar-width: none;
}
.competition_image_referee {
  border-radius: 7px 7px 0 0;
  height: 185px;
  width: 100%;
}
.competition_item_referee {
  width: 240px;
  position: relative;
  border-radius: 7px;
  margin-right: 11.5px;
  margin-bottom: 10px;
  height: fit-content;
  border: 2px solid #01395f;
  background: #01395f;
  color: #fff;
  cursor: pointer;
}
.competition_item_referee:last-child {
  margin-right: 0;
}
