.profile-dashboard-outer {
    background-image: linear-gradient(
        to left, 
        #022233 0%,
        #033f60 21%,
        #03344e 41%,
        #022233 61%,
        #00121c 81%,
        #000f16 100%
      );
    padding-top: 90px;   
}

.profile-dashboard {
    width: 100%;
    background-color: #050505c0;
}
.profile-dashboard-content{
    max-width: 85%;
    padding-top: 20px;
    margin: 0 auto;
}

.profile-info {
    display: flex;
    align-items: center;
    color: #fff; 
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
}

.profile-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4caf50;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 20px;
}

.avatar-initial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.profile-details h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-details p {
    margin: 5px 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-details p i {
    font-size: 1.2rem; /* Kích thước biểu tượng */
    color: #4caf50; /* Màu biểu tượng */
}

.email-warning {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ffcc00;
}

.resend-email-btn {
    background-color: #4caf50;
    border: none;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.tab-navigation {
    display: flex;
}

.tab-item {
    color: #9ca4a4;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 0;
    position: relative;
    transition: color 0.3s;
}

.tab-item:hover {
    color: #fff;
}

.tab-item.active {
    color: #fff;
   
}

.tab-item.active .indicator {
    display: block;
}

.indicator {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #ffffff; /* Triangle color */
    transition: opacity 0.3s;
}

.tab-item + .tab-item {
    margin-left: 20px; 
}

 .content-area-outer{
    width: 100;
    background-color: white;
 } 

.content-area {
    max-width: 85%;
    margin: 0 auto;
}

/* .sidebar {
    background-color: #4a5568;
    width: 200px;
    padding: 20px;
    border-radius: 8px 0 0 8px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    color: #fff;
}

.sidebar li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar li i {
    margin-right: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 8px 8px 0;
}

.tournament-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.create-tournament-btn {
    background-color: #4caf50;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.info-box {
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #00796b;
} */
