.match_detail_container_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 253, 253, 0); /* Màu nền với độ mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  scale: 0.01;
  transition: all 0.5s ease-in-out;
}
.match_detail_container_popup.active {
  background-color: rgba(155, 187, 197, 0.293);
  scale: 1;
}

.match_detail_container {
  min-width: 700px;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 7px;
  position: relative;
}
.view_data_match_container {
  overflow-y: auto;
  max-height: 400px;
  border-radius: 7px;
}
.view_data_match_container::-webkit-scrollbar {
  display: none;
}
.view_data_match_container {
  scrollbar-width: none;
}
.match_detail_container.active {
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 7px;
}
.match_head_detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.match_head_content {
  display: flex;
  justify-content: center;
  align-self: top;
  font-size: 18px;
  font-weight: 600;
  color: #012c50;
}
.match_head_close {
  display: flex;
  justify-content: center;
  align-self: top;
}
.close_head_close {
  color: #012c50;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  cursor: pointer;
}
.close_head_close:hover {
  color: #fff;
  background-color: #2d6694de;
}
.match_body_detail {
  padding: 5px;
  background-color: #2d6594;
  border-radius: 7px;
  color: #fff;
  margin-bottom: 15px;
}
.match_detail_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.match_time_location_view {
  display: flex;
  justify-content: center;
  width: 43%;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.icon_match_time {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.match_team_item {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}
.item_team_logo {
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
}
.match_team_item_score {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
.match_score_team_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #020202da;
  color: #fff;
  border-radius: 7px;
  padding: 0px 20px;
}

.match_score_team_detail_load {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 7px;
}
.haft_match {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.info_haft_match {
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}
.match_score_team_item {
  width: 100%;
  display: flex;
}
.match_score_team_item.home {
  justify-content: left;
}
.match_score_team_item.away {
  justify-content: right;
}
.match_score_team_item_detail {
  box-shadow: 0 0 10px rgba(27, 140, 253, 0.5), 0 0 10px rgba(245, 51, 245, 0.3);
  border-radius: 7px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}

.match_score_description {
  position: absolute;
  padding: 10px 15px;
  background-color: #2d6594;
  border-radius: 50px;
  top: -30px;
  scale: 0.7;
  z-index: 1;
  opacity: 0; /* Ẩn phần tử ban đầu */
  transition: all 0.5s ease; /* Thêm hiệu ứng chuyển đổi */
}

.match_score_team_item_detail:hover .match_score_description {
  opacity: 1; /* Hiển thị phần tử khi hover */
  scale: 1;
}
.score_team_item_time {
  margin-left: 180px;
}
.score_team_item_time_away {
  margin-right: 180px;
}

.score_team_item_info {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.score_team_item_info_away {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.score_team_name {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-weight: 600;
}
.score_team_name_away {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-weight: 600;
}
.score_team_point {
  font-weight: 600;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f74702;
}
.score_team_point.bonus {
  font-weight: 600;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #02f70f;
}
.scroll-arrow {
  position: absolute;
  bottom: 13px;
  right: 18px;
  background-color: #ffffff50;
  color: #012c50;
  padding: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}

.scroll-arrow:hover {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(199, 234, 255, 0.5);
}
.icon_scroll_arrow {
  width: 20px;
  height: 20px;
}
