.team-list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.import-button-team {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #a77eea; /* Use gradient color */
    background: linear-gradient(90deg, #001f3f,#0387ac);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.import-button-team:hover {
    background-color: #8e63d1;
}

.export-button-team {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #6b6dd4; /* Gradient color for export button */
    background: linear-gradient(90deg, #001f3f,#0387ac);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.export-button-team:hover {
    background-color: #5a5bc9;
}

.team-list-grid {
     width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.team-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
}

.team-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.team-logo {
    width: 100px;
    height: 100px;
}

.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.team-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.team-members {
    margin-top: 10px;
}

.members-list {
    color: #555;
}

.add-member-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-arrow {
    padding: 10px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.pagination-arrow:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}