/* League Page Styles */
.league_page {
  /* padding: 20px;*/
  /* background-image: url("../../../../assets/images/banner-background.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.league_container {
  /* background-image: url("../../../../assets/images/banner-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  width: 100%;
  /* z-index: 1000; */

  padding: 81.66px 0 20px 0;
  background-image: linear-gradient(
    to left,
    #022233 0%,
    #033f60 21%,
    #03344e 41%,
    #022233 61%,
    #00121c 81%,
    #000f16 100%
  );
  min-height: 100vh;
}
/* Option view */
.view_toggle {
  margin: 0 8% 20px 8%;
  display: flex;
  justify-content: space-between;
}
.btn_option {
  width: auto;
  border-radius: 7px;
  padding: 1px;
  border: 1px solid #4b4e4e;
  display: flex;
  justify-content: space-between;
  background-color: #bfdbee;
}
.option_view.active {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    #022f4d 0%,
    #023150 41%,
    #084e7c 71%,
    #077dcc 100%
  );
  border-radius: 7px;
  padding: 5px 20px;
  border: none;
}
.option_view {
  display: flex;
  justify-content: center;
  background-color: #bfdbee;
  border-radius: 7px;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
}
.icon_option_view {
  width: 30px;
  height: 30px;
  color: #fff;
}
/* View League */

.league_grid.grid {
  margin: 0 8% 20px 8%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 2fr));
  gap: 20px;
}
.league_grid.list {
  margin: 0 8% 20px 8%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* For tablets and smaller screens */
@media (max-width: 1024px) {
  .league_grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }

  .search_input,
  .filter_select {
    font-size: 12px;
    padding: 8px;
  }

  .league_card {
    padding: 10px;
  }

  .league_title span {
    font-size: 16px;
  }

  .league_details span {
    font-size: 12px;
  }

  .league_stats span {
    font-size: 12px;
  }
}

/* For mobile screens */
@media (max-width: 768px) {
  .league_grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }

  .search_input,
  .filter_select {
    width: 100%;
    margin-bottom: 10px;
  }

  .league_card {
    padding: 8px;
  }

  .league_title span {
    font-size: 14px;
  }

  .league_details span {
    font-size: 10px;
  }

  .league_stats {
    flex-direction: column;
    align-items: center;
  }

  .league_stats span {
    margin-bottom: 5px;
  }
}
