.package_manage_container {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.package_manage_container_title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.package_manage_container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.package_manage_search_container {
    flex: 1;
    max-width: 300px;
}

.package_manage_search_input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
}

.package_manage_action_buttons {
    margin-left: 10px;
}

.package_manage_add_button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.package_manage_add_button:hover {
    background-color: #0056b3;
}

.package_manage_container_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-height: 75vh; /* Giới hạn chiều cao cho khung chứa các gói */
    overflow-y: auto; /* Thêm thanh cuộn dọc nếu vượt quá chiều cao */
    padding-right: 10px; /* Để có không gian cho thanh cuộn */
}

.package_card_wrapper {
    background-color: #f8f9fa;
    border: 2px solid #134b79;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.package_card_wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.package_card_delete_icon {
    background-color: #ff4d4f;
    top: 50px;
}

.package_card_edit_icon:hover {
    background-color: #0056b3;
}

.package_card_delete_icon:hover {
    background-color: #ff0000;
}

.package_card_content_wrapper {
    text-align: left;
    width: 100%;
}

.package_card_title_text {
    font-size: 1.2em;
    color: #d9534f;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: center;
}

.package_card_content_wrapper p {
    margin: 5px 0;
    font-size: 0.95em;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.package_card_wrapper p span {
    color: #555;
    font-weight: normal;
}
.package_card_actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px; /* Khoảng cách phía trên */
    width: 100%;
}

.package_card_edit_icon,
.package_card_delete_icon {
    background-color: #01395f;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
    width: 10%;
    text-align: center;
}

.package_card_delete_icon {
    background-color: #ff4d4f;
}

.package_card_edit_icon:hover {
    background-color: #0056b3;
}

.package_card_delete_icon:hover {
    background-color: #ff0000;
}