.detail_bar {
  width: 100%;
  padding: 15px 0;
  background-color: rgba(3, 3, 3, 0.381);
}
.detail_bar_content {
  margin: 0 8% 20px 8%;
}
.bar_content {
  display: flex;
}
.bar_content_img {
  width: 15%;
}
.bar_img {
  width: 120px;
  height: 120px;
  border-radius: 7px;
  box-shadow: 3px 3px 4px rgba(248, 248, 248, 0.3);
}
