/* Custom View Gird */

.league_card.grid {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(228, 222, 222, 0.1);
  overflow: hidden;
  padding: 3px 3px 15px 3px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  transition: scale 0.4s ease-in-out;
}

.league_card.grid:hover {
  box-shadow: 0 8px 16px rgba(250, 250, 250, 0.2);
  scale: 1.01;
  cursor: pointer;
  background-color: #ffffffd2;
}

.league_image_container.grid {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 25px;
  background-image: var(--background-image);
  transition: background-image 0.5s ease-in;
  width: 100%;
  border-radius: 7px;
  height: 200px;
}

.league_thumbnail.grid {
  position: absolute;
  width: 90px;
  height: 90px;
  padding: 3px;
  left: 38%;
  bottom: -20px;
  border-radius: 13px;
  border: 1px solid #fff;
  background-color: #010a16c6;
  box-shadow: 3px 3px 4px rgba(9, 40, 75, 0.3);
}

.league_title.grid span {
  color: #0864b9;
  font-size: 18px;
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

.league_details.grid span {
  color: #555;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.league_stats.grid {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.league_stats.grid span {
  font-size: 14px;
  color: #888;
  display: flex;
  align-items: center;
}

/* Tooltip Styles */
.tooltip.grid {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip_text.grid {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 5000;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  width: max-content; /* Adjust width for better fit */
  font-size: 12px;
}

/* Tooltip Arrow */
.tooltip_text.grid::after {
  content: "";
  position: absolute;
  top: 100%; /* Arrow below the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip on hover */
.tooltip.grid:hover .tooltip_text.grid {
  visibility: visible;
  opacity: 1;
}

/* Progress Bar Container */
.progress_bar_container.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  position: relative;
}

/* Progress Bar */
.progress_bar.grid {
  width: 70%;

  height: 20px;
  background-color: #b9c0c6;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/* Progress Fill */
.progress_fill.grid {
  height: 100%;
  background: linear-gradient(to right, #0c76e8, #032d68);
  border-radius: 10px;
  transition: width 0.4s ease-in-out;
}

/* Progress Text */
.progress_text.grid {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  left: 44%;
  bottom: 0;
  top: 0;
}

.progress_detail.grid {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 5;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  width: max-content;
  font-size: 12px;
}

.progress_detail.grid::after {
  content: "";
  position: absolute;
  top: 100%; /* Arrow below the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip on hover for list view */
.progress_bar_container.grid:hover .progress_detail.grid {
  visibility: visible;
  opacity: 1;
}
/* Custom View List */

.league_card.list {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px;
  text-align: left; /* Align content to the left */
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  background-image: var(--background-image);
  transition: background-image 0.5s ease-in;
  position: relative;
  height: 150px;
  transition: scale 0.4s ease-in-out;
}
.league_card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.699); /* Semi-transparent black */
  border-radius: 10px; /* Make sure the overlay matches the card's border-radius */
  pointer-events: none; /* Allow clicks to pass through the overlay */
  z-index: 1;
}
.league_card.list:hover {
  box-shadow: 0 8px 16px rgba(245, 246, 247, 0.2);
  scale: 1.01;
}
.league_card.list:hover .league_card_overlay {
  background-color: rgba(0, 0, 0, 0.234);
}
.league_image_container.list {
  z-index: 2;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
  display: flex;
  align-items: end;
}

.league_thumbnail.list {
  width: 90px;
  height: 90px;
  border-radius: 13px;
  border: 1px solid #fff;
  box-shadow: 3px 3px 4px rgba(9, 40, 75, 0.3);
}

.league_content.list {
  width: 70%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}

.league_title.list span {
  color: #2be0f7;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.league_detail.list span {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}

.league_stats.list {
  display: flex;
  justify-content: flex-start; /* Align stats to the left */
  gap: 20px;
  margin-top: 10px;
}

.league_stats.list span {
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  display: flex;
  align-items: center;
}

/* Tooltip Styles for List View */
.tooltip.list {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip_text.list {
  visibility: hidden;
  background-color: #edf6fa;
  color: #021d42;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 5000;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  width: max-content;
  font-size: 12px;
}

.tooltip_text.list::after {
  content: "";
  position: absolute;
  top: 100%; /* Arrow below the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #edf6fa transparent transparent transparent;
}

/* Show the tooltip on hover for list view */
.tooltip.list:hover .tooltip_text.list {
  visibility: visible;
  opacity: 1;
}

/* Progress Bar Container */
.progress_bar_container.list {
  flex: 1;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  position: relative;
}

/* Progress Bar */
.progress_bar.list {
  width: 70%;
  height: 20px;
  background-color: #b9c0c6;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/* Progress Fill */
.progress_fill.list {
  height: 100%;
  background: linear-gradient(to right, #0c76e8, #032d68);
  border-radius: 10px;
  transition: width 0.4s ease-in-out;
}

/* Progress Text */
.progress_text.list {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  left: 39%;
  bottom: 0;
  top: 0;
}

.progress_detail.list {
  visibility: hidden;
  background-color: #edf6fa;
  color: #021d42;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 5000;
  bottom: 65%; /* Position the tooltip above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  width: max-content;
  font-size: 12px;
}

.progress_detail.list::after {
  content: "";
  position: absolute;
  top: 100%; /* Arrow below the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #edf6fa transparent transparent transparent;
}

/* Show the tooltip on hover for list view */
.progress_bar_container.list:hover .progress_detail.list {
  visibility: visible;
  opacity: 1;
}
