body, html, code, p, h1, h2, h3, h4, h5, h6, button, input, textarea, a, div, span {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: Remove outline when focusing on interactive elements */
button:focus, input:focus, textarea:focus {
  outline: none;
}
